/* Define the Reddit Callout Layout */
.callout[data-callout="reddit"] {
    /* Without this, the default pencil icon overlaps with the reddit icon */
    --callout-icon: lucide-icon-dot;
    --flair-background: 255, 69, 0;
    /* Reddit Orange */
    --flair-color: 0, 0, 0;
    /* Black Text */
    color: #ff6a33;
    border-radius: 16px;
    border: 1px solid var(--divider-color);
    background-color: var(--background-primary);
    padding: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
    /* Reddit's Old Font, currently Reddit sans is in use */
}

.callout[data-callout="reddit"][data-callout-metadata*="general"]>.callout-title>.callout-icon {
    /* URL Encode of Reddit r/ icon SVG */
    mask-image: url("data:image/svg+xml,%3Csvg rpl='' class='flex items-center shreddit-subreddit-icon__icon rounded-full overflow-hidden nd:visible nd:bg-secondary-background w-full h-full' fill='currentColor' icon-name='community-fill' style='color: %237E53C1;' viewBox='0 0 20 20'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.977 13.79h-1.955l4.549-10.715a.81.81 0 00-.381-1.032C12.447 1.12 10.37.747 8.179 1.18c-3.612.716-6.471 3.68-7.059 7.316a9.01 9.01 0 0010.409 10.377c3.735-.616 6.741-3.635 7.347-7.371.453-2.8-.388-5.405-2.017-7.322a.505.505 0 00-.853.119l-4.029 9.49zM9.98 8.118a1.752 1.752 0 00-1.148.167 1.664 1.664 0 00-.651.596 1.703 1.703 0 00-.258.948v3.96H5.998V6.322h1.876v1.074h.035c.251-.344.567-.628.948-.851a2.55 2.55 0 011.311-.335c.172 0 .335.014.488.042.153.028.267.058.342.09l-.774 1.849a.766.766 0 00-.244-.073z'%3E%3C/path%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    background-color: #8c00c3;
    width: 25px;
}

.callout[data-callout="reddit"][data-callout-metadata*="18"]>.callout-title>.callout-icon {
    /* URL Encode of Reddit 18 icon SVG*/
    mask-image: url("data:image/svg+xml,%3Csvg rpl='' fill='%23e8009a' viewBox='-1.2 -0.8 22 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.823 10.928a.72.72 0 010 .799.844.844 0 01-.337.282c-.146.07-.304.105-.482.105a1.13 1.13 0 01-.479-.101.836.836 0 01-.343-.278.68.68 0 01-.125-.402.7.7 0 01.123-.405.852.852 0 01.335-.293c.144-.072.31-.11.49-.11.182 0 .346.038.486.11a.83.83 0 01.332.293zm-1.225-1.686c.12.066.257.1.406.1a.823.823 0 00.405-.1.733.733 0 00.385-.655.699.699 0 00-.103-.376.675.675 0 00-.283-.256.889.889 0 00-.403-.092.888.888 0 00-.404.092.698.698 0 00-.39.632.734.734 0 00.389.654h-.002zm6.437 3.09l-5.703 5.703A3.291 3.291 0 0110 19c-.844 0-1.69-.322-2.333-.965l-5.704-5.702a3.304 3.304 0 010-4.666l5.703-5.702a3.303 3.303 0 014.666 0l5.703 5.702a3.304 3.304 0 010 4.666zm-9.941-5.62L5.832 7.739l-.03.013v1.44l1.23-.545v4.64H8.57V6.71h-.475zm6.33 4.697c0-.333-.088-.642-.263-.917a1.996 1.996 0 00-.665-.638 1.86 1.86 0 00.615-1.382c0-.363-.097-.687-.286-.963a1.884 1.884 0 00-.766-.643 2.45 2.45 0 00-1.05-.227c-.377 0-.732.075-1.053.224a1.906 1.906 0 00-.774.64 1.65 1.65 0 00-.292.966c0 .279.059.545.175.79.107.227.255.426.44.595a1.974 1.974 0 00-.665.64 1.708 1.708 0 00.048 1.907c.209.296.502.533.87.704.367.17.784.257 1.24.257.45 0 .866-.085 1.232-.252a2.15 2.15 0 00.872-.7c.211-.298.319-.634.319-1l.003-.001z'%3E%3C/path%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    background-color: #e8009a;
    width: 25px;
}

/* 1st Line: Subreddit Name (The Title) */
.callout[data-callout="reddit"] .callout-title {
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    color: var(--text-normal);
}

/* 2nd Line: Time Ago (First paragraph of content) */
.callout[data-callout="reddit"] .callout-content>p:nth-of-type(1) {
    font-size: 12px;
    color: var(--text-muted);
    margin: 0;
    padding-left: 30px;
    line-height: 1;
}

/* 3rd Line: Poster Name (Second paragraph of content) */
.callout[data-callout="reddit"] .callout-content>p:nth-of-type(2) {
    font-size: 12px;
    color: #fff;
    margin: 2px 0 10px 0;
    padding-left: 30px;
    line-height: 1;
}

/* 4th Line: Flair, styled as a pill (OPTIONAL) */
.callout[data-callout="reddit"][data-callout-metadata*="flair"] .callout-content>p:nth-of-type(3) {
    display: inline-block;
    background-color: rgba(var(--flair-background), 0.7);
    color: rgb(var(--flair-color));
    font-size: 11px;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 20px;
    margin-bottom: 12px;
}

/* Flair Color Variants based on Metadata */
.callout[data-callout="reddit"][data-callout-metadata*="blue-f"] .callout-content>p:nth-of-type(3) {
    background: #8cc5ff;
    color: #001829;
}

.callout[data-callout="reddit"][data-callout-metadata*="red-f"] .callout-content>p:nth-of-type(3) {
    background: #ff8b8b;
    color: #2b0b00;
}

.callout[data-callout="reddit"][data-callout-metadata*="green-f"] .callout-content>p:nth-of-type(3) {
    background: #90ff99;
    color: #082c11;
}

.callout[data-callout="reddit"][data-callout-metadata*="yellow-f"] .callout-content>p:nth-of-type(3) {
    background: #ffe45c;
    color: #362600;
}

/* 5th Line Onward: Post Body */
.callout[data-callout="reddit"] .callout-content>p:nth-of-type(n+4) {
    font-size: 15px;
    color: var(--text-normal);
    line-height: 1.5;
}

/* Last Paragraph: Upvote Count (Styled as the Vote Pill) */
.callout[data-callout="reddit"] .callout-content>p:last-of-type {
    display: inline-flex;
    align-items: center;
    background-color: var(--background-secondary);
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid var(--divider-color);
    align-items: center;
}

/* SVG of Reddit Upvote Arrow */
.callout[data-callout="reddit"] .callout-content>p:last-of-type::before {
    content: url("data:image/svg+xml,%3Csvg rpl='' color='white' fill='currentColor' height='16' icon-name='upvote' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 19a3.966 3.966 0 01-3.96-3.962V10.98H2.838a1.731 1.731 0 01-1.605-1.073 1.734 1.734 0 01.377-1.895L9.364.254a.925.925 0 011.272 0l7.754 7.759c.498.499.646 1.242.376 1.894-.27.652-.9 1.073-1.605 1.073h-3.202v4.058A3.965 3.965 0 019.999 19H10zM2.989 9.179H7.84v5.731c0 1.13.81 2.163 1.934 2.278a2.163 2.163 0 002.386-2.15V9.179h4.851L10 2.163 2.989 9.179z'%3E%3C/path%3E%3C/svg%3E");
    padding: 5px 6px 0px 1px;
}

/* SVG of Reddit Downvote Arrow */
.callout[data-callout="reddit"] .callout-content>p:last-of-type::after {
    content: url("data:image/svg+xml,%3Csvg rpl='' color='white' fill='currentColor' height='16' icon-name='downvote' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1a3.966 3.966 0 013.96 3.962V9.02h3.202c.706 0 1.335.42 1.605 1.073.27.652.122 1.396-.377 1.895l-7.754 7.759a.925.925 0 01-1.272 0l-7.754-7.76a1.734 1.734 0 01-.376-1.894c.27-.652.9-1.073 1.605-1.073h3.202V4.962A3.965 3.965 0 0110 1zm7.01 9.82h-4.85V5.09c0-1.13-.81-2.163-1.934-2.278a2.163 2.163 0 00-2.386 2.15v5.859H2.989l7.01 7.016 7.012-7.016z'%3E%3C/path%3E%3C/svg%3E");
    padding: 5px 1px 0px 6px;
}

/* Dark Mode Overrides */
.theme-dark .callout[data-callout="reddit"] {
    background-color: #1A1A1B;
    border-color: #343536;
}